{% extends 'layout/base.html' %}

{% block content %}

<div class="container-fluid">
    <br>
    <h1>{{halaman}}</h1>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Surat</th>
                <th scope="col">Ayat</th>
                <th scope="col">Terjemah</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th scope="row">{{row.no6}}</th>
                <td>{{row.surat6}}</td>
                <td>{{row.ayat6}}</td>
                <td>{{row.terjemah6}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock content %}