{% extends 'layout/base.html' %}

{% block content %}

<div class="container-fluid">
    <br>
    <h1>{{halaman}}</h1>
    <br>

    <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">CLuster 1</h5>
          <p class="card-text">Terdapat 600 ayat</p>
          <a href="{% url 'blog:cluster1' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
      <br>

      <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">Cluster 2</h5>
          <p class="card-text">Terdapat 715 ayat</p>
          <a href="{% url 'blog:cluster2' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
      <br>

      <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">Cluster 3</h5>
          <p class="card-text">Terdapat 997 ayat</p>
          <a href="{% url 'blog:cluster3' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
      <br>

      <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">Cluster 4</h5>
          <p class="card-text">Terdapat 943 ayat</p>
          <a href="{% url 'blog:cluster4' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
      <br>

      <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">Cluster 5</h5>
          <p class="card-text">Terdapat 1441 ayat</p>
          <a href="{% url 'blog:cluster5' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
      <br>

      <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">Cluster 6</h5>
          <p class="card-text">Terdapat 693 ayat</p>
          <a href="{% url 'blog:cluster6' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
      <br>

      <div class="card text-center">
        <div class="card-header">
          Hasil Cluster
        </div>
        <div class="card-body">
          <h5 class="card-title">Cluster 7</h5>
          <p class="card-text">Terdapat 847 ayat</p>
          <a href="{% url 'blog:cluster7' %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-muted">
        <br>
        </div>
      </div>
    
{% endblock content %}