{% extends 'layout/base.html' %}

{% block content %}

<div class="container-fluid">
    <br>
    <h1>{{halaman}}</h1>
    <br>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Surat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td> <a href="{% url 'blog:satu' %}">al-fatihah</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td> <a href="#">al-baqarah</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td> <a href="#">al-Imran</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td> <a href="#">An-Nisa'</a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td> <a href="#">Al-Ma'idah</a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td> <a href="#">Al-an'am</a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td> <a href="#">Al-A'raf</a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td> <a href="#">Al-Anfal</a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td> <a href="#">At-Taubah</a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td> <a href="#">Yunus</a></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td> <a href="#">Hud</a></td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td> <a href="#">Yusuf</a></td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td> <a href="#">Ar-Ra'd</a></td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td> <a href="#">Ibrahim</a></td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td> <a href="#">Al-Hijr</a></td>
          </tr>
          <tr>
            <th scope="row">16</th>
            <td> <a href="#">An-Nahl</a></td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td> <a href="#">Al-Isra</a></td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td> <a href="#">Al-Kahf</a></td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td> <a href="#">Maryam</a></td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td> <a href="#">Ta Ha</a></td>
          </tr>
          <tr>
            <th scope="row">21</th>
            <td> <a href="#">Anbiya</a></td>
          </tr>
          <tr>
            <th scope="row">22</th>
            <td> <a href="#">Al-Hajj</a></td>
          </tr>
          <tr>
            <th scope="row">23</th>
            <td> <a href="#">Al-Mu'minun</a></td>
          </tr>
          <tr>
            <th scope="row">24</th>
            <td> <a href="#">An-Nur</a></td>
          </tr>
          <tr>
            <th scope="row">25</th>
            <td> <a href="#">Al-furqan</a></td>
          </tr>
          <tr>
            <th scope="row">26</th>
            <td> <a href="#">Asy-Syu'arra'</a></td>
          </tr>
          <tr>
            <th scope="row">27</th>
            <td> <a href="#">An-Naml</a></td>
          </tr>
          <tr>
            <th scope="row">28</th>
            <td> <a href="#">Al-Qashash</a></td>
          </tr>
          <tr>
            <th scope="row">29</th>
            <td> <a href="#">al-Ankabut</a></td>
          </tr>
          <tr>
            <th scope="row">30</th>
            <td> <a href="#">Ar-Ruum</a></td>
          </tr>
          <tr>
            <th scope="row">31</th>
            <td> <a href="#">Luqman</a></td>
          </tr>
          <tr>
            <th scope="row">32</th>
            <td> <a href="#">As-Sajadah</a></td>
          </tr>
          <tr>
            <th scope="row">33</th>
            <td> <a href="#">Al-Ahzab</a></td>
          </tr>
          <tr>
            <th scope="row">34</th>
            <td> <a href="#">Saba'</a></td>
          </tr>
          <tr>
            <th scope="row">35</th>
            <td> <a href="#">Faathir</a></td>
          </tr>
          <tr>
            <th scope="row">36</th>
            <td> <a href="#">Yaa Siin</a></td>
          </tr>
          <tr>
            <th scope="row">37</th>
            <td> <a href="#">Ash-Shaffaat</a></td>
          </tr>
          <tr>
            <th scope="row">38</th>
            <td> <a href="#">Shaad</a></td>
          </tr>
          <tr>
            <th scope="row">39</th>
            <td> <a href="#">Az-Zumar</a></td>
          </tr>
          <tr>
            <th scope="row">40</th>
            <td> <a href="#">Al-Mu'min</a></td>
          </tr>
          <tr>
            <th scope="row">41</th>
            <td> <a href="#">Fush Shilat</a></td>
          </tr>
          <tr>
            <th scope="row">42</th>
            <td> <a href="#">Asy-Syuura</a></td>
          </tr>
          <tr>
            <th scope="row">43</th>
            <td> <a href="#">Az-Zukhruf</a></td>
          </tr>
          <tr>
            <th scope="row">44</th>
            <td> <a href="#">Ad-Dukhaan</a></td>
          </tr>
          <tr>
            <th scope="row">45</th>
            <td> <a href="#">Al-Jaatsiyah</a></td>
          </tr>
          <tr>
            <th scope="row">46</th>
            <td> <a href="#">Al-Ahqaaf</a></td>
          </tr>
          <tr>
            <th scope="row">47</th>
            <td> <a href="#">Muhammad</a></td>
          </tr>
          <tr>
            <th scope="row">48</th>
            <td> <a href="#">Al-Fath</a></td>
          </tr>
          <tr>
            <th scope="row">49</th>
            <td> <a href="#">Al-Hujurat</a></td>
          </tr>
          <tr>
            <th scope="row">50</th>
            <td> <a href="#">Qaaf</a></td>
          </tr>
          <tr>
            <th scope="row">51</th>
            <td> <a href="#">Adz-Dzaariyaat</a></td>
          </tr>
          <tr>
            <th scope="row">52</th>
            <td> <a href="#">Ath-Thuur</a></td>
          </tr>
          <tr>
            <th scope="row">53</th>
            <td> <a href="#">An-Najm</a></td>
          </tr>
          <tr>
            <th scope="row">54</th>
            <td> <a href="#">Al-Qamar</a></td>
          </tr>
          <tr>
            <th scope="row">55</th>
            <td> <a href="#">Ar-Rahmaan</a></td>
          </tr>
          <tr>
            <th scope="row">56</th>
            <td> <a href="#">Al-Waaqiah</a></td>
          </tr>
          <tr>
            <th scope="row">57</th>
            <td> <a href="#">Al-Hadiid</a></td>
          </tr>
          <tr>
            <th scope="row">58</th>
            <td> <a href="#">Al-Mujaadilah</a></td>
          </tr>
          <tr>
            <th scope="row">59</th>
            <td> <a href="#">Al-Hasyr</a></td>
          </tr>
          <tr>
            <th scope="row">60</th>
            <td> <a href="#">Al-Mumtahanah</a></td>
          </tr>
          <tr>
            <th scope="row">61</th>
            <td> <a href="#">Ash-Shaff</a></td>
          </tr>
          <tr>
            <th scope="row">62</th>
            <td> <a href="#">Al-Jumu'ah</a></td>
          </tr>
          <tr>
            <th scope="row">63</th>
            <td> <a href="#">Al-Munaafiquun</a></td>
          </tr>
          <tr>
            <th scope="row">64</th>
            <td> <a href="#">At-Taghaabun</a></td>
          </tr>
          <tr>
            <th scope="row">65</th>
            <td> <a href="#">Ath-Thalaaq</a></td>
          </tr>
          <tr>
            <th scope="row">66</th>
            <td> <a href="#">At-Tahrim</a></td>
          </tr>
          <tr>
            <th scope="row">67</th>
            <td> <a href="#">Al-Mulk</a></td>
          </tr>
          <tr>
            <th scope="row">68</th>
            <td> <a href="#">Al-Qalam</a></td>
          </tr>
          <tr>
            <th scope="row">69</th>
            <td> <a href="#">Al-Haaqqah</a></td>
          </tr>
          <tr>
            <th scope="row">70</th>
            <td> <a href="#">Al-Ma'aarij</a></td>
          </tr>
          <tr>
            <th scope="row">71</th>
            <td> <a href="#">Nuh</a></td>
          </tr>
          <tr>
            <th scope="row">72</th>
            <td> <a href="#">Al-Jin</a></td>
          </tr>
          <tr>
            <th scope="row">73</th>
            <td> <a href="#">Al-Muzzammil</a></td>
          </tr>
          <tr>
            <th scope="row">74</th>
            <td> <a href="#">Al-Muddatstsir</a></td>
          </tr>
          <tr>
            <th scope="row">75</th>
            <td> <a href="#">Al-Qiyaamah</a></td>
          </tr>
          <tr>
            <th scope="row">76</th>
            <td> <a href="#">Al-Insaan</a></td>
          </tr>
          <tr>
            <th scope="row">77</th>
            <td> <a href="#">Al-Mursalaat</a></td>
          </tr>
          <tr>
            <th scope="row">78</th>
            <td> <a href="#">An-Naba'</a></td>
          </tr>
          <tr>
            <th scope="row">79</th>
            <td> <a href="#">An-Naazi'aat</a></td>
          </tr>
          <tr>
            <th scope="row">80</th>
            <td> <a href="#">'Abasa</a></td>
          </tr>
          <tr>
            <th scope="row">81</th>
            <td> <a href="#">At-Takwir</a></td>
          </tr>
          <tr>
            <th scope="row">82</th>
            <td> <a href="#">Al-Infithar</a></td>
          </tr>
          <tr>
            <th scope="row">83</th>
            <td> <a href="#">Al-Muthaffifiin</a></td>
          </tr>
          <tr>
            <th scope="row">84</th>
            <td> <a href="#">Al-Insyiqaaq</a></td>
          </tr>
          <tr>
            <th scope="row">85</th>
            <td> <a href="#">Al-Buruuj</a></td>
          </tr>
          <tr>
            <th scope="row">86</th>
            <td> <a href="#">At-Thaariq</a></td>
          </tr>
          <tr>
            <th scope="row">87</th>
            <td> <a href="#">Al-A'laa</a></td>
          </tr>
          <tr>
            <th scope="row">88</th>
            <td> <a href="#">Al-Ghaasyiyah</a></td>
          </tr>
          <tr>
            <th scope="row">89</th>
            <td> <a href="#">Al-Fajr</a></td>
          </tr>
          <tr>
            <th scope="row">90</th>
            <td> <a href="#">Al-Balad</a></td>
          </tr>
          <tr>
            <th scope="row">91</th>
            <td> <a href="#">Asy-Syams</a></td>
          </tr>
          <tr>
            <th scope="row">92</th>
            <td> <a href="#">Al-Lail</a></td>
          </tr>
          <tr>
            <th scope="row">94</th>
            <td> <a href="#">Ad-Dhuhaa</a></td>
          </tr>
          <tr>
            <th scope="row">94</th>
            <td> <a href="#">Alam-Nasyrah</a></td>
          </tr>
          <tr>
            <th scope="row">95</th>
            <td> <a href="#">At-Tiin</a></td>
          </tr>
          <tr>
            <th scope="row">96</th>
            <td> <a href="#">Al-'Alaq</a></td>
          </tr>
          <tr>
            <th scope="row">97</th>
            <td> <a href="#">Al-Qadarh</a></td>
          </tr>
          <tr>
            <th scope="row">98</th>
            <td> <a href="#">Al-Bayyinah</a></td>
          </tr>
          <tr>
            <th scope="row">99</th>
            <td> <a href="#">Al-Zalzalah</a></td>
          </tr>
          <tr>
            <th scope="row">100</th>
            <td> <a href="#">Al-'Aadiyaat</a></td>
          </tr>
          <tr>
            <th scope="row">101</th>
            <td> <a href="#">Al-Qaari'ah</a></td>
          </tr>
          <tr>
            <th scope="row">102</th>
            <td> <a href="#">At-Takaatsur</a></td>
          </tr>
          <tr>
            <th scope="row">103</th>
            <td> <a href="#">Al-'Ashr</a></td>
          </tr>
          <tr>
            <th scope="row">104</th>
            <td> <a href="#">Al-Humazah</a></td>
          </tr>
          <tr>
            <th scope="row">105</th>
            <td> <a href="#">Al-Fiil</a></td>
          </tr>
          <tr>
            <th scope="row">106</th>
            <td> <a href="#">Al-Quraisy</a></td>
          </tr>
          <tr>
            <th scope="row">107</th>
            <td> <a href="#">Al-Ma'mun</a></td>
          </tr>
          <tr>
            <th scope="row">108</th>
            <td> <a href="#">Al-Kautsar</a></td>
          </tr>
          <tr>
            <th scope="row">109</th>
            <td> <a href="#">Al-Kaafiruun</a></td>
          </tr>
          <tr>
            <th scope="row">110</th>
            <td> <a href="#">An-Nashr</a></td>
          </tr>
          <tr>
            <th scope="row">111</th>
            <td> <a href="#">Al-Lahab</a></td>
          </tr>
          <tr>
            <th scope="row">112</th>
            <td> <a href="#">Al-Ikhlash</a></td>
          </tr>
          <tr>
            <th scope="row">113</th>
            <td> <a href="#">Al-Falaq</a></td>
          </tr>
          <tr>
            <th scope="row">114</th>
            <td> <a href="#">An-Naas</a></td>
          </tr>
        </tbody>
      </table>
    
{% endblock content %}